POSTGRES_USER=postgrespharmacyuser
POSTGRES_PASSWORD=supersecretpassword
POSTGRES_DB=pharmacydawadukaandb
REDIS_URL=redis://redis:6379

DATABASE_URL=postgresql://postgres:supersecret@localhost:5432/pharmacydb