POSTGRES_USER=postgrespharmacyuser
POSTGRES_PASSWORD=supersecretpassword
POSTGRES_DB=pharmacydawadukaandb
REDIS_URL=redis://redis:6379

DATABASE_URL=postgresql://postgrespharmacyuser:supersecretpassword@db:5432/pharmacydawadukaandb

CLIENT_URL=http://localhost:5173
NODE_ENV=development
JWT_REFRESH_SECRET=2349uhk23ru23riu23r@12312mndwwsmd.;;;;12312
JWT_SECRET=dsckasdnf23241234ohwfeoh2o34o23h4oefwjefwf0123001230